<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heweizhuang.mapper.UsersMapper">
    <insert id="insertUser" parameterType="com.heweizhuang.pojo.Users">
        insert into users(username, userage) values(#{username}, #{userage})
    </insert>

    <select id="selectUserAll" resultType="com.heweizhuang.pojo.Users">
        select * from users
    </select>

    <select id="getUserById" parameterType="integer" resultType="com.heweizhuang.pojo.Users">
		select * from users where userid = #{userId}
	</select>
</mapper>